<ion-view view-title="אחר">
    <ion-content class="padding">
        <div class="buttons">
            <button class="button button-clear button-dark icon ion-navicon"></button>
            <button class="button button-clear button-dark icon ion-plus-circled"></button>
            <button class="button button-clear button-dark icon ion-minus-circled"></button>
        </div>
        <p>
            אחר...
        </p>
        <div class="buttons">
            <button class="button icon-right ion-ios-trash-outline" ng-click="clearCatagory('other')">מחק את כל המידע בקטגוריה</button>
        </div>
    </ion-content>
</ion-view>